{% extends '__base__.html' %}

{% block title %}日志{% endblock %}

{% block beforehead %}

<script>
</script>

{% endblock %}

{% block content %}

    <div class="uk-width-medium-3-4">
    {% for blog in blogs %}
        <article class="uk-article">
            <h2><a href="/blog/{{ blog.id }}">{{ blog.name }}</a></h2>
            <p class="uk-article-meta">发表于{{ blog.created_at|datetime }}</p>
            <p> {{ blog.summary |safe }} </p>
            <p><a href="/blog/{{ blog.id }}">继续阅读 <i class="uk-icon-angle-double-right"></i></a></p>
        </article>
        <hr class="uk-article-divider">
    {% endfor %}
    
    {% if size <=2 %}
        

    {% endif %}
        <ul class="uk-pagination">
        {% if page.has_previous %}
            <li><a href="/?page={{ page.page_index - 1 }}"><i class="uk-icon-angle-double-left"></i></a></li>
        {% else %}
            <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
        {% endif %}
            <li class="uk-active"><span>{{ page.page_index }}</span></li>
        {% if page.has_next %}
            <li><a href="/?page={{ page.page_index + 1 }}"><i class="uk-icon-angle-double-right"></i></a></li>
        {% else %}
            <li class="uk-disabled"><span><i class="uk-icon-angle-double-right"></i></span></li>
        {% endif %}
        </ul>
    </div>
    <div class="uk-width-medium-1-4">

          {% if user %}
          <div class="uk-panel uk-panel-box">
            <div class="uk-text-center">
                <img class="uk-border-circle" width="120" height="120" src="{{ user.image }}">
                <h3>{{ user.name }}</h3>
            </div>
          </div>
          {% else %}
            <img class="uk-border-rounded" width="240" height="240" src="http://m2.img.srcdd.com/farm4/d/2014/0428/09/33F8C58A7A7390B7FBECC9594603CA69_ORIG_658_493.gif">
          {% endif %}


        <div class="uk-panel uk-panel-header">
            <h3><a href="#" style = "color: #888;">Hi, Enjoy your life.</a></h3>
            <h2 class="uk-panel-title">链接</h2>
            <ul class="uk-list uk-list-line">
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="http://www.codeproject.com/">codeproject</a></li>
            </ul>
        </div>
    </div>


{% endblock %}
