<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
    <head>
         {% load staticfiles %}

         <script src="{% static "js/jquery.js" %}"></script>

        <title>
            {% block title %} {% endblock %}
        </title>
        {% block style %} {% endblock %}
        <style type="text/css">
            ul.errorlist {
                margin: 0;
                padding: 0;
            }
            .errorlist li {
                background-color: red;
                color: white;
                display: block;
                font-size: 10px;
                margin: 0 0 3px;
                padding: 4px 5px;
            }
        </style>
    <head>
    <body>
        {% block content %}{% endblock %}
        {% block footer %}
        {% endblock %}
    </body>
</html>

